$pageTop: 0;
$mainColor: #222;
$navWidth: 150px;
$headerImgWidth: 150px;
$navColor: #000;
$navLinkSelectedColor: #333;
$navLinkSelectedBackground: #fff;
$navLinkHoverBackground: #000;
$nprogress-color: #000;
$pageHeaderBackground: #fff;
$pageHeaderColor: #444;
$pageHeaderLinkColor: #444;
$pageHeaderBorder: 1px;
$fieldFocusBorder: red;
$fieldFocusShadow: red;
$fieldBackground: transparent;
$buttonBorder: #eee;
$pageFooterLinkColor: #999;
$unauthenticatedBg: $mainColor;
$pageHeaderBorderColor: #ededed;
