$pageTop: 0;
$mainColor: #eee;
$linkColor: #2196F3;
$navWidth: 150px;
$navWidth: 150px;
$navSvgFill: #444;
$headerImgWidth: 90px;
$navColor: #444;
$navLinkSelectedColor: #333;
$navLinkHoverColor: #333;
$navLinkSelectedBackground: #fff;
$navLinkHoverBackground: mix(#000,#eee,10%);
$pageHeaderBackground: #FCFCFC;
$pageHeaderColor: #444;
$pageHeaderLinkColor: $linkColor;
$pageHeaderBorder: 1px;
$fieldFocusBorder: red;
$fieldFocusShadow: red;
$fieldBackground: transparent;
$buttonBorder: #eee;
$pageFooterLinkColor: #999;
$unauthenticatedBg: $mainColor;
$pageHeaderBorderColor: #ededed;
$dangerColor: #dc143c;
$navSubColor: #333;
$navSubBackground: darken(#eee,4%);
