@include font-face('gotham', '/fonts/Gotham-Medium', $weight: 500, $style: normal);
@include font-face('gotham', '/fonts/Gotham-Book', $weight: 400, $style: normal);
@include font-face('gotham', '/fonts/Gotham-Light', $weight: 300, $style: normal);
@include font-face('ajeh-cms', '/fonts/ajeh-cms', $weight: normal, $style: normal);
@include font-face('nbl', '/fonts/nbl', $weight: 300, $style: normal);
