@include font-face('gotham', 'Gotham-Medium', $weight: 500, $style: normal, $asset-pipeline: true);
@include font-face('gotham', 'Gotham-Book', $weight: 400, $style: normal, $asset-pipeline: true);
@include font-face('gotham', 'Gotham-Light', $weight: 300, $style: normal, $asset-pipeline: true);
@include font-face('ajeh-cms', 'ajeh-cms', $weight: normal, $style: normal, $asset-pipeline: true);
