* {
  -webkit-font-smoothing: antialiased;
}
body {
  color: #444;
  font-family: 'gotham';
  font-weight: 300;
  font-size: 15px;
  // background-color: $mainColor;
}
body:before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mainColor;
}
html.unauthenticated,
html.unauthenticated body {
  height: 100%;
}
html.unauthenticated body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html.unauthenticated body > * {
  flex: 0 0 auto;
}
html.unauthenticated section.form .controls-check-box {
  padding-top: 0;
}
// body:before {
//   content: '';
//   position: fixed;
//   top: $pageTop;
//   left: $navWidth;
//   right: 0;
//   bottom: 0;
//   max-width: 700px;
//   background-color: #fff;
// }
html.unauthenticated body:before {
  content: none;
}
html.unauthenticated img,
html.unauthenticated svg {
  width: 100%;
  max-width: $headerImgWidth;
  margin-bottom: 30px;
}
html.unauthenticated main {
  width: 100%;
  max-width: 400px;
}
html.unauthenticated .field-label {
  display: none !important;
}
html.unauthenticated .controls-text-field {
  border-color: #fff;
  background-color: #fff;
}
html.unauthenticated section.form .actions {
  background-color: none;
}
a {
  text-decoration: none;
}
[data-action] {
  cursor: pointer;
}
// main > .content-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 1000em;
//   opacity: 0;
//   background-color: #fff;
//   transition: opacity 0.15s ease-in-out;
//   pointer-events: none;
// }
main > .content {
  // position: fixed;
  // z-index: 100;
  top: $pageTop;
  // margin-top: 70px;
  // margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  // left: $navWidth;
  // bottom: 0;
  // right: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}
main > .content.no-footer {
  margin-bottom: 0;
}
body.fullpage main > .content {
  top: 0;
  left: 0;
  max-width: 100%;
}

#session {
  margin: 20px -25px 0;
}
#session button {
  width: 100%;
  padding: 8px 25px;
  cursor: pointer;
  text-align: left;
}
#session button:hover {
  color: $navLinkHoverColor;
  background-color: $navLinkHoverBackground;
}

.user-image {
  border-radius: 26px;
}

.file-preview {
  background-color: #f5f5f5;
}

@media only screen and (max-width: 320px) {
  main > .content {
    padding-top: 80px;
    font-size: 16px;
  }
}
.icon-star {
  display: inline-block !important;
  color: gold
}

html.unauthenticated {
  background-color: $unauthenticatedBg;
}

#error_explanation {
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(220,20,60,0.96);
}

#error_explanation h2 {
  margin-bottom: 1em;
}

#error_explanation ul {
  line-height: 1.4;
}

#error_explanation li:before {
  content: '– ';
}

.field-errors {
  margin-top: 1em;
  color: rgba(220,20,60,0.96);
}

html.unauthenticated,
html.unauthenticated body {
  height: 100%;
}
html.unauthenticated body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html.unauthenticated body > * {
  flex: 0 0 auto;
}
html.unauthenticated section.form .controls-check-box {
  padding-top: 0;
}
html.unauthenticated section.form .actions {
  background-color: transparent;
}
html.unauthenticated section.form .actions button {
  padding: 14px;
  color: #444;
  background-color: #fff;
  border-color: #fff;
}
html.unauthenticated section.form .controls,
html.unauthenticated section.form .controls.controls-select select {
  background-color: #fff;
  border-color: #fff !important;
}
html.unauthenticated section.form .controls-check-box {
  justify-content: center;
  border: 0;
  background-color: transparent;
}

.nobreak {
  display: inline !important;
  white-space: nowrap;
}

a[href^="mailto:"],
.table-wrapper a[href^="mailto:"] {
  color: inherit;
  border-bottom: 1px solid transparent;
}

a[href^="mailto:"]:hover,
.table-wrapper a[href^="mailto:"]:hover {
  color: #2196F3;
  border-bottom-color: #2196F3;
}

main {
  $inset: 0;
  position: fixed;
  top: $inset;
  left: $navWidth;
  right: $inset;
  bottom: $inset;
  display: flex;
  flex-direction: column;
  transition: left .2s;


  border-left: solid $pageHeaderBorder #ededed;

  html.support-css-hairlines & {
    border-width: 0.5px;
  }
}

// main > * {
//   position: static !important;
// }

main > .content {
  flex-grow: 1;
  background-color: #fff;
}
