#header .header {
  position: fixed;
  z-index: 1003;
  top: 0;
  left: 0;
  width: 40px;
  height: 60px;
  line-height: 60px;
  background: linear-gradient(rgba(252,252,252,0.96), rgba(250,250,250,0.96));
  border-bottom: solid 1px #ededed;
  text-indent: -1000em;
  @include transition(width 0.2s ease-in-out);
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #header .header {
    border-bottom: 0;
    box-shadow: 0 1px 1px -1px #b3b3b3;
  }
}
#header .header .hamburger {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5.5px;
  width: 20px;
  height: 11px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#header .header .hamburger:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5px;
  height: 1px;
  background-color: #ccc;
}
#header {
  // opacity: 0.3;
  color: $navColor;
  position: fixed;
  top: 0;
  left: 0;
  width: $navWidth;
  // margin-top: 60px;
  bottom: 0;
  padding: 35px 25px;
  // background-color: $background;
  // border-right: solid 1px #f2f2f2;
  // @include transform(translateX($navWidth * -1));
  // @include transition(opacity 0.2s ease-in-out);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  user-select: none;
}
// #header:hover {
//   opacity: 1;
// }
#header img,
#header svg {
  width: 100%;
  max-width: $headerImgWidth;
  @if global-variable-exists(headerCentered) {
    display: block;
    margin: 0 auto;
  }
  margin-bottom: 30px;
}
.header-nav a {
  display: block;
  line-height: 1.4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 8px 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  flex: 0 0 auto;
}
.header-nav a:hover {
  color: $navLinkHoverColor;
  background-color: $navLinkHoverBackground;
}
.header-nav a.selected {
  color: $navLinkSelectedColor;
  background-color: $navLinkSelectedBackground;
  // border-left: 10px solid color(blue);
}
.header-nav__header {
  display: block;
  margin-bottom: 10px;
  padding-left: 25px;
  margin-left: -25px;
  margin-right: -25px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  // border-bottom: solid 1px rgba(255,255,255,0.08);
}
.header-nav a + .header-nav__header {
  margin-top: 20px;
}
// #header nav a {
//   display: block;
//   padding: 8px 0;
// }
// @media only screen and (min-width: 800px) {
//   #header nav {
//     margin-top: 80px;
//   }
// }

#page-header {
  position: fixed;
  z-index: 101;
  top: $pageTop;
  left: $navWidth;
  right: 0px;
  display: flex;
  // width: 100%;
  // max-width: 700px;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  text-align: center;
  // background: linear-gradient(rgba(252,252,252,0.96), rgba(250,250,250,0.96));
  background-color: $pageHeaderBackground;
  color: $pageHeaderColor;
  border-bottom: solid $pageHeaderBorder #ededed;
  // transition: all 0.3s ease-in-out;
  user-select: none;
}
html.support-css-hairlines #page-header {
  border-width: 0.5px;
}
body.fullpage #page-header {
  top: 0;
  left: 0;
  max-width: 100%;
}
// @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
//   #page-header {
//     border-bottom: 0;
//     box-shadow: 0 1px 1px -1px #b3b3b3;
//   }
// }
#page-header h1 {
  display: block;
  font-size: 24px;
  flex: 1 1 auto;
  // margin-left: -40px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  // @include d($color: red, $offset: 0px);
}

// @media only screen and (min-width: 800px) {
//   #header .header,
//   #page-header {
//     height: 80px;
//     line-height: 80px;
//   }
//   #header .header h1,
//   #page-header h1 {
//     font-size: 28px;
//   }
//   #header .header a,
//   #page-header a {
//     font-size: 20px;
//   }
// }

@media only screen and (max-width: 560px) {
  #page-footer a span.icon {
    display: inline;
  }
  #page-footer a span.string {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  #header .header,
  #page-header {
    height: 50px;
    line-height: 50px;
  }
  #header nav {
    margin-top: 50px;
  }
  #page-header {
    font-size: 16px;
  }
  #page-header h1 {
    font-size: 20px;
  }
  #page-header > a {
    padding: 0 15px;
  }
}


#page-footer {
  position: fixed;
  z-index: 101;
  bottom: 0px;
  left: $navWidth;
  right: 0px;
  // width: 100%;
  // max-width: 700px;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  text-align: center;
  // background: linear-gradient(rgba(252,252,252,0.96), rgba(250,250,250,0.96));
  background-color: $pageHeaderBackground;
  color: $pageHeaderColor;
  border-top: solid $pageHeaderBorder #ededed;
  @include transition(all 0.3s ease-in-out);
}

#page-footer:empty {
  display: none;
}

body.fullpage #page-footer {
  left: 0;
  max-width: 100%;
}

html.support-css-hairlines #page-footer {
  border-width: 0.5px;
}

#page-header > a {
  position: relative;
  color: $pageHeaderLinkColor;
  padding: 0 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

#page-header .button_to {
  position: relative;
  display: flex;
  color: $pageHeaderLinkColor;
  // padding: 0 30px;
  padding-left: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
  white-space: nowrap;
  flex: 0 0 auto;
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

#page-header .button_to button {
  cursor: pointer;
}
#page-header .button_to.destroy-form {
  color: $dangerColor;
}

#page-footer a {
  position: relative;
  color: $pageHeaderLinkColor;
  padding: 0 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05em;
}
// #page-header > a:before,
// #page-footer .form-submit:before {
//   content: '';
//   position: absolute;
//   z-index: -1;
//   top: 18px;
//   bottom: 18px;
//   left: 15px;
//   right: 15px;
//   border-radius: 3px;
//   border: solid 1px $buttonBorder;
// }
#page-footer a.form-submit {
  cursor: pointer;
  color: $pageHeaderLinkColor;
}
#page-footer a.form-submit.disabled {
  color: #aaa;
  cursor: progress;
}
#page-footer a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: $pageFooterLinkColor;
}
#page-footer a.form-submit {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
}

#page-footer a span.icon {
  font-family: 'ajeh-cms';
  font-size: 24px;
  display: none;
}

// header#header {
//   box-shadow: inset -6px 0 4px -4px darken(#eee,2%);
// }

#header {
  display: flex;
  flex-direction: column;
}

#header > svg {
  flex: 0 0 auto;
}

.header-nav {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  // @include d($color: red, $offset: 0px);
}

#session {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // @include d($color: red, $offset: 0px);
}

.header-nav .sub {
  margin: 0 -25px;
  color: $navSubColor;
  background-color: $navSubBackground;
  // box-shadow: inset 0px 3px 5px darken(#eee,8%);
}

.header-nav .sub a {
  position: relative;
  margin: 0;
  background-color: transparent !important;
}

.header-nav .sub a + a:after {
  content: '';
  position: absolute;
  left: 25px;
  top: 0;
  right: 0;
  height: 1px;
  background-color: lighten($navSubBackground, 6%);
  html.support-css-hairlines & {
    height: 0.5px;
  }
}

.header-nav .sub a.selected {
  font-weight: 400;
}

// .header-nav .sub a:hover {
//   color: #333f48;
// }
