.picker {
  display: none;
  width: 320px;
  border-radius: 5px;
  user-select: none;
}

.picker__input.picker__input--active {
  display: none;
}

.picker__frame {
  margin: 0 auto;
  width: 100%;
}

.picker--opened {
  display: block;

}

.picker__wrap {
  display: table;
  /*width: 100%;*/
  /*height: 100%;*/
}

.picker__box {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 320px) {
  .picker {
    width: 100%;
  }
}
